/*CSS for PokemonCard.js
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
/*
.pokemon-card {
  aspect-ratio: 5/8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
}
*/
/*
.pokemon-card > a{
  
  display: grid;
  grid-template-rows: 1fr 0;
  background-color: aqua;
  align-items: center;

}

.pokemon-card > a > img{
  align-self: center;
  background-color: red;
}

.pokemon-card > a > h3{
  align-self: end;
  background-color: yellow;
}
*/
/*
.pokemon-card {
  border-radius: 20px;
}

.pokemon-card > a {
  color: initial;
  text-decoration: initial;
}

.pokemon-card:hover > a {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: line-through black;
  color:white;
}
*/

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin: 2rem;
  /* border: 15px solid var(--cardborder); */
  border-radius: 1rem;
  min-width: 220px;
  height: 285px;
  text-align: center;
  /* box-shadow: 0 5px 25px 1px rgb(0 0 0 / 50%); */
  box-shadow:
  0 1.6px 1.6px rgba(0, 0, 0, 0.023),
  0 3.8px 3.8px rgba(0, 0, 0, 0.034),
  0 6.9px 6.9px rgba(0, 0, 0, 0.041),
  0 11.4px 11.4px rgba(0, 0, 0, 0.049),
  0 18.8px 18.8px rgba(0, 0, 0, 0.056),
  0 32.8px 32.8px rgba(0, 0, 0, 0.067),
  0 71px 71px rgba(0, 0, 0, 0.09)
;
  transition: all 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokemon-card > a {
  color: initial;
  text-decoration: initial;
}

.pokemon-card:hover > a {
  text-decoration: line-through black;
  color:white;
}
